<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wb.weibao">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 读写sdcard，storage等等 -->
    <application
        android:name=".common.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- AUTO LAYOUT -->
        <meta-data
            android:name="design_width"
            android:value="720" />
        <meta-data
            android:name="design_height"
            android:value="1280" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.wb.weibao.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".ui.main.MainActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".ui.Login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.maintenance.AddOrderActivity" />
        <activity android:name=".ui.maintenance.DetailActivity" />
        <activity android:name=".ui.mine.pwdActivity" />
        <activity android:name=".ui.maintenance.FeedbackActivity" />
        <activity android:name=".ui.earlywarning.EarlyWarningDetailActivity" />
        <activity android:name=".ui.record.RecordDetailActivity" />
        <activity android:name=".ui.Login.RelationActivity"></activity>
    </application>

</manifest>